@charset "UTF-8";
/* これはリセットCSSです */
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 100%;
}

body {
  background-color: #FFFEF9;
  color: #2E2A24;
  font-size: 1rem;
  font-family: "Noto Serif JP", serif;
}

.wrapper {
  margin-inline: auto;
  max-width: 1100px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header_logo {
  padding: 1rem;
  margin-block: 1rem;
  border-top: 4px solid #DAD4E2;
  border-bottom: 4px solid #DAD4E2;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
}

.header_guide {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.header_guide li button {
  min-width: 40px;
  padding: 0.5rem;
  display: block;
  transition: all 0.3s ease-out 0s;
}

.header_guide li button:hover {
  background-color: #DAD4E2;
}

.header_logo_img {
  grid-column: 2/3;
  height: 160px;
}

.header_logo_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_nav {
  background-color: #B9AFA3;
}

.header_nav ul {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 3rem;
  font-family: "Tangerine";
}

.header_nav ul li a {
  color: #2E2A24;
  transition: all 0.3s ease-out 0s;
}

.header_nav ul li a:hover {
  color: #FFFEF9;
}

.sp_only {
  display: none;
}

.banner {
  background-color: #DAD4E2;
}

.banner .banner_img {
  max-width: 1100px;
  margin-inline: auto;
}

.banner .banner_img img {
  display: block;
  margin-inline: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 6rem;
  font-family: "Tangerine";
  text-align: center;
  background-image: url(/images/line.png);
  background-repeat: no-repeat;
  background-size: 260px;
  background-position: center bottom;
}

.cart_btn {
  width: 150px;
  margin-top: 8px;
  padding: 12px;
  display: block;
  background-color: #654250;
  color: #FFFEF9;
  justify-self: center;
  transition: all 0.3s ease-out 0s;
}

.cart_btn:hover {
  background-color: #83606E;
}

.cookies_item dl dt a,
.gift_item dl dt a {
  color: #2E2A24;
  transition: all 0.3s ease-out 0s;
}

.cookies_item dl dt a:hover,
.gift_item dl dt a:hover {
  border-bottom: 1px solid #B9AFA3;
}

.cookies {
  margin: 4.5rem 0;
}

.cookies_list {
  margin-block: 4.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  row-gap: 5%;
}

.cookies_item {
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  background-color: white;
  border: 1px solid #2E2A24;
  font-size: 0.875rem;
  row-gap: 1.5rem;
}

.cookies_item dl {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center;
  justify-self: center;
}

.cookies_item dl dt {
  font-size: 1.25rem;
}

.cookies_item dl dd {
  align-self: center;
  line-height: 1.7;
}

.cookies_item_img {
  width: 100%;
  aspect-ratio: 1/1;
}

.cookies_item_img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.gift_list {
  margin-block-start: 4.5rem;
  margin-block-end: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  justify-content: center;
  gap: 10%;
}

.gift_item {
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  background-color: white;
  border: 1px solid #2E2A24;
  font-size: 0.875rem;
  row-gap: 1.5rem;
}

.gift_item dl {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center;
  justify-self: center;
}

.gift_item dl dt {
  font-size: 1.25rem;
}

.kodawari {
  border-top: 4px solid #B9AFA3;
  border-bottom: 4px solid #B9AFA3;
}

.kodawari_inner {
  margin: 6rem auto;
  max-width: 980px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.kodawari01,
.kodawari02,
.kodawari03 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kodawari_text {
  text-align: center;
  letter-spacing: 0.05em;
}

.kodawari_text h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.kodawari_text p {
  margin-block-start: 3rem;
  line-height: 1.7;
}

.kodawari01_img,
.kodawari02_img,
.kodawari03_img {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.kodawari01_img {
  background-image: url(../images/butter.jpg);
}

.kodawari02_img {
  background-image: url(../images/flour.jpg);
}

.kodawari03_img {
  background-image: url(../images/giftbag.jpg);
}

.kodawari02_img {
  order: -1;
}

.info {
  margin-block-start: 6rem;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.info .calendar .line_size {
  background-size: 320px;
}

.google_calendar,
.google_map {
  flex-basis: 50%;
  margin-block-start: 4.5rem;
}

.info iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.shopdata {
  width: 400px;
  margin-block: 4.5rem 6rem;
  margin-inline: auto;
  text-align: center;
}

.shopdata dl {
  padding-block: 1rem;
  border-bottom: 1px solid #B9AFA3;
}

.address,
.openinghours,
.closed,
.tel,
.station,
.sns,
.sns_list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sns .sns_list a {
  width: 24px;
  height: 24px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.sns .sns_list a:hover {
  background-color: #DAD4E2;
}

.sns .sns_list .icon_mail {
  width: 19px;
  height: 18px;
  position: absolute;
  top: 13%;
  left: 11%;
}

footer {
  border-top: 4px solid #B9AFA3;
}

.footer_guide {
  margin-block: 3rem;
}

.footer_guide dt {
  font-family: "Cinzel", serif;
}

.footer_guide dd:nth-of-type(1) {
  margin-block-start: 1rem;
}

.footer_guide dd {
  font-size: 0.875rem;
  line-height: 1.9;
}

.footer_guide dd a {
  color: #2E2A24;
  transition: all 0.3s ease-out 0s;
}

.footer_guide dd a:hover {
  border-bottom: 1px solid #B9AFA3;
}

.footer_logo {
  padding-block: 1rem;
  background-color: #DAD4E2;
  text-align: center;
}

.footer_logo .footer_logo_img {
  width: 160px;
  height: 160px;
  margin-inline: auto;
}

.footer_logo .footer_logo_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_logo p {
  margin-block-start: 1rem;
}

@media (max-width: 500px) {
  br {
    display: none;
  }
  header .pc_only {
    display: none;
  }
  header .sp_menubar {
    width: 100%;
    padding-block: 8px;
    background-color: #B9AFA3;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  header .sp_menubar ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Cinzel", serif;
    font-size: 0.75rem;
    text-align: center;
  }
  header .sp_menubar ul li {
    width: 60px;
  }
  .menubar_menu {
    display: block;
    background-color: #B9AFA3;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 90;
    bottom: -100%;
    left: 0;
  }
  .menubar_menu li {
    padding-block: 1rem;
    padding-inline-start: 1rem;
    border-bottom: 1px solid #FFFEF9;
  }
  .menubar_menu.open {
    bottom: 0;
  }
  .banner img {
    width: 315px;
  }
  .wrapper {
    max-width: 315px;
  }
  .title {
    font-size: 4rem;
    background-size: 160px;
  }
  .cookies_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .cookies_item {
    min-width: 150px;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    background-color: white;
    border: 1px solid #2E2A24;
    font-size: 0.875rem;
    row-gap: 1rem;
  }
  .cookies_item dl dd {
    width: 130px;
  }
  .cookies_item dl dt {
    font-size: 1rem;
  }
  .cookies_item dl dd {
    font-size: 0.8rem;
  }
  .btn_small {
    width: 130px;
    margin-top: 8px;
    padding: 8px;
    display: block;
    background-color: #654250;
    color: #FFFEF9;
    justify-self: center;
  }
  .gift_list {
    display: block;
  }
  .gift_list .gift_item:nth-of-type(2) {
    margin-block-start: 2rem;
  }
  .gift_item dl dd {
    width: 260px;
  }
  .kodawari_inner {
    font-size: 1rem;
    display: block;
    text-align: center;
  }
  .kodawari01,
  .kodawari02,
  .kodawari03 {
    width: 310px;
    margin-inline: auto;
    padding-block: 3rem;
    display: block;
  }
  .kodawari_text p {
    margin-block-start: 2rem;
  }
  .kodawari01_img,
  .kodawari02_img,
  .kodawari03_img {
    margin-top: 2.5rem;
    margin-inline: auto;
  }
  .info {
    margin-block: 6rem 4.5rem;
    display: block;
  }
  .info .calendar .line_size {
    background-size: 200px;
  }
  .google_calendar,
  .google_map {
    margin: 4.5rem auto;
  }
  .google_calendar iframe,
  .google_map iframe {
    aspect-ratio: 1/1;
  }
  #sp_footer {
    height: 160px;
    padding-block: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  #sp_footer .footer_logo_img {
    width: 80px;
    height: 80px;
    margin-inline: 0;
  }
  #sp_footer p {
    margin-block-start: 30px;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */