@use "variables" as *;

@mixin subgrid($row-gap: $spaceM){
    padding-bottom: $spaceM;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    background-color: white;
    border: 1px solid $textColor;
    font-size: $fontsizeS;
    row-gap: $row-gap;
}

@mixin gridDl{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    text-align: center;
    justify-self: center;
}
