
$mainColor: #DAD4E2;
$baseColor: #FFFEF9;
$accentColor: #B9AFA3;
$textColor: #2E2A24;
$btnColor: #654250;
$btnHoverColor: #83606E;

$spaceXS: 0.5rem;
$spaceS: 1rem;
$spaceM: 1.5rem;
$spaceL: 2rem;
$spaceLL: 3rem;
$spaceXL:4.5rem;
$spaceSec: 6rem;

$maxWidth: 1100px;
$maxWidthSp: 315px;

$fontsizeS: 0.875rem;
$fontsizeM: 1rem;
$fontsizeL: 1.25rem;
$fontsizeXL: 1.5rem;
$fontsizeNav: 3rem;
$fontsizeSpTitle: 4rem;
$fontsizeTitle: 6rem;

$fontfamilyMain: "Noto Serif JP", serif;
$fontfamilyEnglish: "Tangerine";
$fontfamilySub: "Cinzel", serif;