@use "../global/variables" as *;
@use "../global/mixins";

footer{
    border-top: 4px solid $accentColor;
}

.footer_guide{
    margin-block: $spaceLL;
}

.footer_guide dt{
    font-family: $fontfamilySub;
}

.footer_guide dd:nth-of-type(1){
    margin-block-start: $spaceS;
}

.footer_guide dd{
    font-size: $fontsizeS;
    line-height: 1.9;
}

.footer_guide dd a{
    color: $textColor;
    transition: all 0.3s ease-out 0s;
}

.footer_guide dd a:hover{
    border-bottom: 1px solid $accentColor;
}

.footer_logo{
    padding-block: $spaceS;
    background-color: $mainColor;
    text-align: center;
}

.footer_logo .footer_logo_img{
    width: 160px;
    height: 160px;
    margin-inline: auto;
}

.footer_logo .footer_logo_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_logo p{
    margin-block-start: $spaceS;
}