@use "../global/variables" as *;
@use "../global/mixins";

.header_logo{
    padding: $spaceS;
    margin-block: 1rem;
    border-top: 4px solid $mainColor;
    border-bottom: 4px solid $mainColor;
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
}
.header_guide{
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.header_guide li button{
    min-width: 40px;
    padding: $spaceXS;
    display: block;
    transition: all 0.3s ease-out 0s;
}

.header_guide li button:hover{
    background-color: $mainColor;
}

.header_logo_img{
    grid-column: 2/3;
    height: 160px;
}

// 見た目は問題ないけど、検証ツールで見た時imgとは別でaの高さもある
// （h1>a>img)＝display:block必須？
.header_logo_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header_nav{
    background-color: $accentColor;
}

.header_nav ul{
    padding: $spaceS;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: $fontsizeNav;
    font-family: $fontfamilyEnglish;
}

.header_nav ul li a{
    color: $textColor;
    transition: all 0.3s ease-out 0s;
}

.header_nav ul li a:hover{
    color: $baseColor;
}

.sp_only{
    display: none;
}
