@use "../global/variables" as *;
@use "../global/mixins" as *;

// バナー
// ------------------
.banner{
    background-color: $mainColor;
}

.banner .banner_img{
    max-width: $maxWidth;
    margin-inline: auto;
}

.banner .banner_img img{
    display: block;
    margin-inline: auto;
    object-fit: cover;
}

// 共通部分
// ------------------
.title{
    font-size: $fontsizeTitle;
    font-family: $fontfamilyEnglish;
    text-align: center;
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: center bottom;
}

.cart_btn{
    width: 150px;
    margin-top: 8px;
    padding: 12px;
    display: block;
    background-color: $btnColor;
    color: $baseColor;
    justify-self: center;
    transition: all 0.3s ease-out 0s;
}

.cart_btn:hover{
    background-color: $btnHoverColor;
}

.cookies_item dl dt a,
.gift_item dl dt a{
    color: $textColor;
    transition: all 0.3s ease-out 0s;
}

.cookies_item dl dt a:hover,
.gift_item dl dt a:hover{
    border-bottom: 1px solid $accentColor;
}

// クッキー
// ------------------
.cookies{
    margin: $spaceXL 0;
}

.cookies_list{
    margin-block: $spaceXL;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    justify-content: center;
    column-gap: 10%;
    // row-gap: 5%;
    row-gap: $spaceXL;
}


.cookies_item{
    @include subgrid
}

.cookies_item dl{
    @include gridDl
}

.cookies_item dl dt{
    font-size: $fontsizeL;
}

.cookies_item dl dd{
    align-self: center;
    line-height: 1.7;
}

.cookies_item_img{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.cookies_item_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

// ギフト
// ------------------
.gift_list{
    margin-block-start: $spaceXL;
    margin-block-end: $spaceSec;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px , 1fr));
    justify-content: center;
    gap: 10%;
}

.gift_item{
    @include subgrid
}

.gift_item dl{
    @include gridDl
}
.gift_item dl dt{
    font-size: $fontsizeL;
}

// こだわり
// ------------------
.kodawari{ 
    border-top: 4px solid $accentColor;
    border-bottom: 4px solid $accentColor;
}

.kodawari_inner{
    margin: $spaceSec auto;
    max-width: 980px;
    font-size: $fontsizeL;
    display: flex;
    flex-direction: column;
    gap: $spaceLL;
}

.kodawari01,
.kodawari02,
.kodawari03{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kodawari_text{
    text-align: center;
    letter-spacing: 0.05em;
}

.kodawari_text h3{
    font-size: $fontsizeXL;
    font-weight: 400;
}

.kodawari_text p{
    margin-block-start: $spaceLL;
    line-height: 1.7;
}

.kodawari01_img,
.kodawari02_img,
.kodawari03_img{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.kodawari01_img{
    background-image: url(../images/butter.jpg);
}

.kodawari02_img{
    background-image: url(../images/flour.jpg);
}

.kodawari03_img{
    background-image: url(../images/giftbag.jpg);
}

.kodawari02_img{
    order: -1;
}

// カレンダー・map
// ------------------
.info{
    margin-block-start: $spaceSec;
    display: flex;
    justify-content: center;
    gap: 10%; 
}

.info .calendar .line_size{
    background-size: 320px;
}

.google_calendar,
.google_map{
    flex-basis: 50%;
    margin-block-start: $spaceXL;
}

.info iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

// ショップ情報
// ------------------
.shopdata{
    width: 400px;
    margin-block: $spaceXL $spaceSec;
    margin-inline: auto;
    text-align: center;
}

.shopdata dl{
    padding-block: $spaceS;
    border-bottom: 1px solid $accentColor;
}

.address,
.openinghours,
.closed,
.tel,
.station,
.sns,
.sns_list{
    display: flex;
    justify-content: center;
    gap: $spaceS;
}

.sns .sns_list a{
    width: 24px;
    height: 24px;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.sns .sns_list a:hover{
    background-color: $mainColor;
}

.sns .sns_list .icon_mail{
    width: 19px;
    height: 18px;
    position: absolute;
    top: 13%;
    left: 11%;
}


// わからないこと・修正箇所まとめ
// @importでのフォントの読み込ませ方 font.css作った後
// 改行なしにした場合、こだわりテキスト部分の幅指定方法（flexの中身)
// 画面幅が1100pxより小さくなった時.bannerに指定してる背景色出てこない問題
// .header_navの文字、スマホ版に切り替わる直前に表示しきれないタイミングある
