@use "../global/variables" as *;
@use "../global/mixins" as *;

// スマホ版
// ------------------
@media (max-width:500px) {
    br{
        display: none;
    }

// ヘッダー
header .pc_only{
    display: none;
}

header .sp_menubar{
    width: 100%;
    padding-block: 8px;
    background-color: $accentColor;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

header .sp_menubar ul{
    display: flex;
    justify-content: space-evenly;
    font-family: $fontfamilySub;
    font-size: 0.75rem;
    text-align: center;
}

header .sp_menubar ul li{
    width: 60px;
}

.menubar_menu ul li a,
.sp_menubar ul li p{
    color: $textColor;
}

.menubar_menu{
    display: block;
    background-color: $accentColor;
    font-family: $fontfamilySub;
    font-size: $fontsizeXL;
    position: fixed;
    width: 100%;
    height: 50%;
    z-index: 90;
    bottom:-100%;
    left: 0;
}

.menubar_menu li{
    padding-block: $spaceS;
    padding-inline-start: $spaceS;
    border-bottom: 1px solid $baseColor;
}

.menubar_menu.open {
    bottom: 0;
}

// バナー

.banner img{
    width: $maxWidthSp;
}

// メイン共通
.wrapper{
    max-width: $maxWidthSp;
}

.title{
    font-size: $fontsizeSpTitle;
    background-size: 160px;
}

// クッキー
.cookies_list{
    grid-template-columns: repeat(2, 1fr);
}

.cookies_item{
    min-width: 150px;
    @include subgrid($spaceS)
}

.cookies_item dl dd{
    width: 130px;
}

.cookies_item dl dt{
    font-size: $fontsizeM;
}

.cookies_item dl dd{
    font-size: 0.8rem;
}

.btn_small{
    width: 130px;
    margin-top: 8px;
    padding: 8px;
    display: block;
    background-color: $btnColor;
    color: $baseColor;
    justify-self: center;
}

// ギフト
.gift_list{
    display: block;
}

.gift_list .gift_item:nth-of-type(2){
    margin-block-start: $spaceL;
}

.gift_item dl dd{
    width: 260px;
}

// こだわり
.kodawari_inner{
    font-size: $fontsizeM;
    display: block;
    text-align: center;
}

.kodawari01,
.kodawari02,
.kodawari03{
    width: 310px;
    margin-inline: auto;
    padding-block: $spaceLL;
    display: block;
}

.kodawari_text p{
    margin-block-start: $spaceL;
}

.kodawari01_img,
.kodawari02_img,
.kodawari03_img{
    margin-top: 2.5rem;
    margin-inline: auto;
}

// カレンダー・map
.info{
    margin-block: $spaceSec $spaceXL;
    display: block;
}

.info .calendar .line_size{
    background-size: 200px;
}

.google_calendar,
.google_map{
    margin: $spaceXL auto;
}

.google_calendar iframe,
.google_map iframe{
    aspect-ratio: 1/1;    
}

// フッター
#sp_footer{
    height: 160px;
    padding-block: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: $spaceS;
}

#sp_footer .footer_logo_img{
    width: 80px;
    height: 80px;
    margin-inline: 0;
}

#sp_footer p{
    margin-block-start: 30px;
    font-size: 0.8rem;
}

// スマホ版(min-width:500px)
}
