@use "../global/variables" as *;
@use "../global/mixins";

html{
    font-size: 100%;
}

body{
    background-color: $baseColor;
    color: $textColor;
    font-size: $fontsizeM;
    font-family: $fontfamilyMain;
}

// max-width1150pxどこに指定したらいいかわからん。。
.wrapper{
    margin-inline: auto;
    max-width: $maxWidth;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}